<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="jaytwo.AspNet.GoogleAnalytics.Enabled" value="true" />
		<add key="jaytwo.AspNet.GoogleAnalytics.TrackerId" value="UA-XXXX-Y" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetDocumentTitle" value="SetDocumentTitle.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.title" value="set.title.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetScreenName" value="SetScreenName.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.screenName" value="set.screenName.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetApplicationName" value="SetApplicationName.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.appName" value="set.appName.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetApplicationId" value="SetApplicationId.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.appId" value="set.appId.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetApplicationVersion" value="SetApplicationVersion.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.appVersion" value="set.appVersion.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetCustomDimension.0" value="SetCustomDimension.0.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.dimension0" value="set.dimension0.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetContentExperimentId" value="SetContentExperimentId.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.expId" value="set.expId.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetContentExperimentVariant" value="SetContentExperimentVariant.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.expVar" value="set.expVar.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetCustomMetric.0" value="SetCustomMetric.0.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.metric0" value="set.metric0.value" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<httpModules>
			<add name="GoogleAnalyticsInjectorModule" type="jaytwo.AspNet.GoogleAnalytics.GoogleAnalyticsInjectorModule, jaytwo.AspNet.GoogleAnalytics" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="GoogleAnalyticsInjectorModule" type="jaytwo.AspNet.GoogleAnalytics.GoogleAnalyticsInjectorModule, jaytwo.AspNet.GoogleAnalytics" />
		</modules>
	</system.webServer>
</configuration>
