<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
		<add key="jaytwo.AspNet.GoogleAnalytics.Enabled" value="true" />
		<add key="jaytwo.AspNet.GoogleAnalytics.TrackerId" value="UA-XXXX-Y" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetDocumentTitle" value="SetDocumentTitle.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.title" value="set.title.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetScreenName" value="SetScreenName.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.screenName" value="set.screenName.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetApplicationName" value="SetApplicationName.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.appName" value="set.appName.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetApplicationId" value="SetApplicationId.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.appId" value="set.appId.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetApplicationVersion" value="SetApplicationVersion.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.appVersion" value="set.appVersion.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetCustomDimension.0" value="SetCustomDimension.0.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.dimension0" value="set.dimension0.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetContentExperimentId" value="SetContentExperimentId.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.expId" value="set.expId.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetContentExperimentVariant" value="SetContentExperimentVariant.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.expVar" value="set.expVar.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.SetCustomMetric.0" value="SetCustomMetric.0.value" />
		<add key="jaytwo.AspNet.GoogleAnalytics.set.metric0" value="set.metric0.value" />
		<add key="vs:EnableBrowserLink" value="false" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>

	<system.web>

		<httpRuntime targetFramework="4.5" />

		<compilation debug="true" targetFramework="4.5" />

		<httpModules>
			<add name="GoogleAnalyticsInjectorModule" type="jaytwo.AspNet.GoogleAnalytics.GoogleAnalyticsInjectorModule, jaytwo.AspNet.GoogleAnalytics" />
		</httpModules>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		
		<modules>
			<add name="GoogleAnalyticsInjectorModule" type="jaytwo.AspNet.GoogleAnalytics.GoogleAnalyticsInjectorModule, jaytwo.AspNet.GoogleAnalytics" />
		</modules>

		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>
